.container {
    text-align: center;
    width: 60vw;
    margin: 0 auto;
    max-width: 100%;
}

.list {
    padding: 10px;
    display: inline-grid;
}

.listItem {
    padding: 0 10px;
    text-align: left;
}

.list button {
    background-color: blueviolet;
    border: none;
    color: #fff;
    border-radius: 5px;
}