.container {
    width: 40vw;
    margin: 0 auto;
    background-color: rgba(249, 244, 239, 0.867);
}

.ok {
   background-color: rgba(0, 128, 0, 0.5);
}

.question_title {
    padding-top: 14px;
}

.question, .message, .title {
    text-align: center; 
}

.options {
    width: 20vw;
    /* background-color: blueviolet; */
    display: flex;
    justify-items: flex-start;
    margin: 0 auto;
    padding: 5px 0;
}

.options label {
    padding: 0 10px;
    cursor: pointer;
}

.submitBtn, .nextBtn {
    margin: 10px 0;
    padding: 5px 15px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}

.submitBtn:hover, .nextBtn:hover {
    opacity: .9;
}

.message {
    padding: 10px 0;
}

.success {
    color: green;
}

.danger {
    color: red;
}